[alias]
	hist = log --date-order --graph --pretty=format:'%Cred%h%Creset - %C(green)%ad%Creset%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset' --abbrev-commit --date=short
	hh = log --date-order --pretty=format:'%Cred%h%Creset - %C(green)%ad%Creset%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset' --abbrev-commit --date=short -n 5
	st = status
	su = submodule update
[user]
	email = danil.dulin@gs-labs.ru
	name = Danil Dulin
[push]
	default = simple
[gui]
	fontui = -family \"DejaVu Sans\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"DejaVu Sans Mono\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	tabsize = 4
