[Unit]
Description=RTags daemon

Requires=rdm.socket

[Service]
Type=simple
ExecStart=/usr/local/bin/rdm --log-file=/tmp/rtags.log --inactivity-timeout 3000 --completion-cache-size=20 --rp-nice-value=5 --validate-file-maps --watch-system-paths --no-filesystem-watcher
ExecStartPost=/bin/sh -c "echo +1 > /proc/$MAINPID/autogroup"
Nice=1
CPUSchedulingPolicy=idle
