! --------------------------------------------------------------------------------
! xft settings
! --------------------------------------------------------------------------------
Xft*autohint: 0
Xft*antialias: 1
Xft*hinting: 1
Xft*hintstyle: hintslight
Xft*dpi: 96
Xft*rgba: rgb
Xft*lcdfilter: lcdlight

! --------------------------------------------------------------------------------
! urxvt settings
! --------------------------------------------------------------------------------
 URxvt.jumpScroll: false
 URxvt.font: xft:FiraCode Nerd Font Mono:style=Regular:size=16, xft:Inconsolata for Powerline:size=16, xft:DejaVu Sans Mono for Powerline:size=16
 URxvt.boldFont: xft:FiraCode Nerd Font Mono:style=Regular:size=16, xft:Inconsolata for Powerline:size=16, xft:DejaVu Sans Mono for Powerline:size=16
! URxvt.font: xft:Fira Mono for Powerline:style=Regular:size=16, xft:Inconsolata for Powerline:size=16, xft:DejaVu Sans Mono for Powerline:size=16
! URxvt.boldFont: xft:Fira Mono for Powerline:style=Regular:size=16
 URxvt.scrollBar: false
 URxvt.scrollTtyOutput: false
 URxvt.scrollWithBuffer: true
 URxvt.scrollTtyKeypress: true
 URxvt.internalBorder: 0
 URxvt.externalBorder: 0
 URxvt.borderLess: false
 URxvt.cursorUnderline: false
 URxvt.url-launcher: chromium
 URxvt.cursorBlink: true
 URxvt.saveLines: 500000
 URxvt.lineSpace: 0
 URxvt.letterSpace: -1
 URxvt.meta8: false
 URxvt.intensityStyles: false

! --------------------------------------------------------------------------------
! terminal colors
! Solarized Dark
! --------------------------------------------------------------------------------
*background: #002b36
*foreground: #839496
*fadeColor: #002b36
*cursorColor: #93a1a1
*pointerColorBackground: #586e75
*pointerColorForeground: #93a1a1

*color0: #094757
*color1: #dc322f
*color2: #859900
*color3: #b58900
*color4: #268bd2
*color5: #d33682
*color6: #2aa198
*color7: #eee8d5
*color8: #002b36
*color9: #cb4b16
*color10: #586e75
*color11: #657b83
*color12: #839496
*color13: #6c71c4
*color14: #93a1a1
*color15: #fdf6e3
